.annylist {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin: auto;
  width: 100%;
}
#pfp {
  width: 3em;
}
.cardholder {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
}

.openmodal {
  padding: 1em;
  min-width: 100%;

  max-width: 100%;
}

.textpart {
  display: flex;
  flex-direction: column;
}

.textpart p {
  margin: auto;
}
.biggercard {
  padding: 1em;
  display: flex;
  flex-direction: row;
  background-color: #f8f8f8;
  border-radius: 10px;
  border: solid #bdbdbd 0;
  box-shadow: 0 6px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 6px 5px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 6px 5px rgba(0, 0, 0, 0.2);
  margin: 0.1em auto;
  width: 100%;
}
