.bigcalendar {
  width: 100%;
}

.duelist {
  background: rgb(216, 216, 216);
  margin: auto;
  border-radius: 20px;
  width: 50%;
}

.duerequest {
  font-size: 14px;
  text-align: left;
  width: 100%;
}
.duerequest:hover {
  background: rgb(235, 234, 234);
}

.calendardiv {
  display: flex;
  flex-direction: column;
  margin: auto;
}
