.bigcalendar {
  width: 100%;
}

.duelist {
  background: rgb(216, 216, 216);
  margin: auto;
  padding: 1em 0;
  border-radius: 10px;
  width: 55%;
}

.duerequest {
  font-size: 14px;
  text-align: left;
  list-style: none;
  margin: 0;
  align-items: center;
  justify-items: center;
}
.calendarlist {
  padding: 1em;
}
.duerequest:hover {
  background: rgb(235, 234, 234);
}

.calendardiv {
  display: flex;
  flex-direction: column;
  margin: 1em auto;
  justify-content: center;
  align-items: center;
}

.navbottom {
  display: flex;
  flex-direction: column;
  width: 33%;
  position: fixed;
  bottom: 0;

  margin: auto;
  align-items: center;
  justify-content: center;
}
