nav {
  height: 100vh;
  background-color: black;
  color: white;
  font-weight: bold;
  position: fixed;
  display: flex;
  justify-content: center;
}

nav ul {
  list-style: none;
  justify-content: center;
}
