nav {
  height: 100vh;
  background-color: black;
  color: white;
  font-weight: bold;
  position: fixed;
  display: flex;
  justify-content: center;
  margin: auto;
  width: 5%;
}

nav ul {
  list-style: none;
  align-items: center;
  width: 100%;
}

nav ul li:hover {
  transform: scale(1.2);
  cursor: pointer;
}
