.requestpage {
  display: flex;
  flex-direction: column;
}
.requestheader {
  display: flex;
  flex-direction: row;
}
.informationsection {
  display: flex;
  flex-direction: column;
}

.reqcontainer {
  background-color: #f8f8f8;
  height: 100vh;
  display: flex;
  margin: auto;
  width: 100%;
  justify-content: center;
}

.reqholder {
  width: 50%;
}
