.showlisting {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.showlisting:hover {
  cursor: pointer;
}

.onairsection {
  background: rgb(216, 216, 216);
  width: 50%;
  margin: 0.5em auto;
  border-radius: 20px;
}

.listingcontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.navbottom {
  position: absolute;
  padding: 1em;
  bottom: 0;
  display: flex;
  margin: auto;
}

.rightconsole {
  display: flex;
  flex-direction: column;
}

.blinking {
  color: red;
  transform: scale(0.5);
  animation: blinker 1s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#pfp {
  width: 0.2em;
}
