.showlisting {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.showlisting:hover {
  cursor: pointer;
}

.onairsection {
  background: rgb(216, 216, 216);
  width: 50%;
  margin: 0.5em auto;
  border-radius: 20px;
  padding: 0.5em 0 0 0;
}

.listingcontainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.rightconsole {
  display: flex;
  flex-direction: column;
  overflow: scroll;
  margin-top: 0.2em;
}

.blinking {
  color: red;
  transform: scale(0.5);
  animation: blinker 1s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

#onlineavi {
  width: 3em;
  margin: 0;
}
#onlineavi:hover {
  cursor: pointer;
}
#onlinename {
  margin: 0;
}
.onlineholder {
  width: 5em;
  display: flex;
  flex-direction: column;
}
.avatarholders {
  display: flex;
  flex-direction: row;
}
.dailyshow {
  text-align: left;
  padding: 1em 1.2em;
}
.dailyshow:hover {
  background: rgb(235, 234, 234);
}
#topdaily {
  margin: 0;
  font-size: 12px;
}

#bottomdaily {
  margin: 0;
  font-size: 14px;
  font-weight: bold;
}
#showchannel {
  margin: 0;
  font-size: 12px;
  font-weight: lighter;
}

#onairtoday {
  padding: 0.5em 0;
}

#infoicon {
  transform: scale(0.8);
}

#expandsection {
  fontsize: "14px";
  color: "inherit";
  text-decoration: "none";
}
#expandsection:hover {
  cursor: pointer;
}

#editicon:hover {
  cursor: pointer;
  transform: scale(1.3);
}
