.showlisting {
  margin: 1em;
  background-color: #f8f8f8;
  border: solid #bdbdbd 0;
  border-radius: 6px;
  box-shadow: 0 1px 13px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 1px 13px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 1px 13px rgba(0, 0, 0, 0.3);
}

.showlisting:hover {
  cursor: pointer;
}

.listingcontainer {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
}
.navbottom {
  position: absolute;
  padding: 1em;
  bottom: 0;
  display: flex;
  margin: auto;
}

.rightconsole {
  display: flex;
  flex-direction: column;
}

.blinking {
  color: red;
  transform: scale(0.7);
  animation: blinker 1s cubic-bezier(0.5, 0, 1, 1) infinite alternate;
}

@keyframes blinker {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
